.model-instance-explorer {
  position: fixed;
  z-index: 11;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px; /* Negative half of height. */
  margin-left: -400px; /* Negative half of width. */
  overflow: hidden;

  background-color: lightgray;
}

.model-instance-explorer .attribute {
  fill: red;
}

.model-instance-explorer .attribute {
  fill: blue;
}

.node-legend {
  font-size: .8em;
}

.node-legend .node-fill-color {
  display: inline-block;
  margin-right: 2px;
  height: 1em;
  width: 1em;
}

.rv-force__links defs marker path {
  fill: black;
}

.rv-force__link {
  stroke: black;
  stroke-width: 3;
}
