.model-instance-explorer {
  position: fixed;
  z-index: 11;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px; /* Negative half of height. */
  margin-left: -400px; /* Negative half of width. */

  background-color: grey;
}

.model-instance-explorer .attribute {
  fill: red;
}

.model-instance-explorer .attribute {
  fill: blue;
}
